body {
    margin: 0px;
}

.header {
    height: 130px;
    width: 100%;
    background: #4d4e4f;
}

.content {
    height: calc(100vh - 200px);
    width: 70%;
    margin: auto;
}

.sidebar-left {
    height: 86.3vh;
    width: 15%;
    float: left;
    background: lightgray;
}

.sidebar-right {
    height: 86.3vh;
    width: 15%;
    float: right;
    background: lightgray;
}

.footer {
    width: 70%;
    height: 70px;
    bottom: 0;
    margin: auto;
    background: #181818;
}